<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
    </head>
    <body>
        <main>
            <div class="narrow-form">
                <h1>Signup</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="text" name="username">
                    <input type="password" name="password1">
                    <input type="password" name="password2">
                    <button>Signup</button>
                </form>
            </div>
        </main>
    </body>
</html>
