<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new task</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="text" name="name">
                    <input type="text" name="start_date">
                    <input type="text" name="due_date">
                    <select name="projects"></select>
                    <select name="assignee"></select>
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
